.ortala{
    text-align: center;
    list-style-position: inside;
}

h1{
    color: rgb(231, 42, 80);
}

#anah1{
    color:rgb(185, 27, 185) ;
    
}

#anah3{
    color: rgb(210, 156, 85);
    
}
.font30{
    font-size: 30px;
}
.font25{
    font-size: 25px;
}
#urunh1{
    color: rgb(194, 75, 194);
}
.font20{
    font-size: 20px;
}
#hakh1{
    color:rgb(185, 27, 185) ;
}
#hakh3{
    color: rgb(143, 128, 16)
}
#hakh3-2{
    color: rgb(143, 128, 16)
}